.search-widget {
  margin-bottom: 20px;
  position: relative;
}

.search-logo {
  position: absolute;
  width: 140px;
  height: 100px;
  top: -30px;
  left: -140px;
}

.search-menu {
  margin-bottom: 12px;
}

.search-item {
  margin-right: 24px;
  
}

.search-input {
  display: block;
  width: 80%;
  height: 36px;
}

.search-button {
  font-size: 123.1%;
  border-radius: 0 .625rem .625rem 0;
  height: 42px;
  width: 92px;
  line-height: 36px;
  font-size: 18px;
  font-family: inherit;
  background: #fc0;
  transition: background .1s linear;
  align-items: center;
  
}

.search-row {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}
